@{
    ViewData["TiTle"]="Serviço";
}
<main id="servico-content">
        <div id="servico-descricao">
             <h2 class="title-content">NOSSOS SERVIÇOS</h2>
             <h3 OS MELHORES SERVIÇOS PARA O CONFORTO DO SEU AMIGO ANIMAL></h3>
             <p>Contamos com uma boa equipe que tem amor e carinho para com todos os animais</p>
             <p>Toda a estrutura para procedimentos veterinaria para a saúde seu amiguinho,Laboratório proprio,sala confortavem para aguardar o atendimento e um centro cirúgico completo.</p>
             <h2>Venha nos conhecer!</h2>
             <h2>Contato=99886677.</h2>
        </div>
</main>